<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!--
      课程订单的mapper
    -->
    <mapper namespace="com.jingcheng.musicEducation.order.dao.CourseOrderDao">
   

    <select id="findObjById" resultType="com.jingcheng.musicEducation.order.entity.CourseOrder">
       select * from course_order  where id=#{id}    
    </select>
 
    <select id="findObjList" parameterType="map" resultType="com.jingcheng.musicEducation.order.entity.CourseOrder">
      select *
      from course_order
      <where>
       <if test="courseOrderSn!=null and courseOrderSn!=''">
          courseOrderSn=#{courseOrderSn}
       </if>
       <if test="status!=null and status!=''">
          and status=#{status}
       </if>
       <if test="beginTime!=null">
           <![CDATA[   and DATE_FORMAT(createdAt, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')]]>
       </if>
       <if test="endTime!=null">
           <![CDATA[  and DATE_FORMAT(createdAt, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
       </if>
      </where> 
    </select>
    
    
    
    
    
    </mapper>