<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!--
      课程订单表单模块的mapper
    -->
    <mapper namespace="com.jingcheng.musicEducation.order.dao.CourseOrderFormDao">
   
    <select id="findObjById" resultType="com.jingcheng.musicEducation.order.entity.CourseOrderForm">
       select * from course_orderForm  where id=#{id}    
    </select>
 
    <select id="findObjList" parameterType="map" resultType="com.jingcheng.musicEducation.order.entity.CourseOrderForm">
      select *
      from course_orderForm
      <where>
      <if test="courseOrderId!=null">
        courseOrderId=#{courseOrderId}
      </if>
      </where> 
    </select>
    </mapper>