<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!--
      页面管理的mapper
    -->
    <mapper namespace="com.jingcheng.musicEducation.system.dao.PageImageDao">
   
    <insert id="insertEntity" parameterType="com.jingcheng.musicEducation.system.entity.PageImage">
      insert into page_image (imageUrl,
                              version,
                              description,
                              category,
                              status,
                              createdAt
                             )
                      values (#{imageUrl},
                              #{version},
                              #{description},
                              #{category},
                              #{status},
                              NOW()                     
                             )
    
    </insert>
    
     <update id="updateEntity" parameterType="com.jingcheng.musicEducation.system.entity.PageImage">
      update page_image  set  imageUrl     =#{imageUrl},
                              version      =#{version},
                              description  =#{description},
                              category     =#{category},
                              status       =#{category},
                              deletedAt    =#{deletedAt}
                       where  id           =#{id}
                     
    </update>
    
    <select id="findObjById" resultType="com.jingcheng.musicEducation.system.entity.PageImage">
       select * from page_image  where id=#{id}    
    </select>
 
    <select id="findObjList" parameterType="map" resultType="com.jingcheng.musicEducation.system.entity.PageImage">
      select *  from page_image
      <where>
        <if test="status!=null">
          status=#{status}
        </if>
        <if test="version!=null">
         and version=#{version}
        </if>
        <if test="category!=null">
         and category=#{category}
        </if>
        <if test="beginTime!=null">
            <![CDATA[   and DATE_FORMAT(createdAt, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')]]>
        </if>
        <if test="endTime!=null">
            <![CDATA[  and DATE_FORMAT(createdAt, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')]]>
        </if>
      </where> 
    </select>
    
    </mapper>