<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!--
      商品评论图片的mapper
    -->
    <mapper namespace="com.jingcheng.musicEducation.comment.dao.ProductCommentImageDao">
    
    <select id="findObjById" resultType="com.jingcheng.musicEducation.comment.entity.ProductCommentImage">
       select * from product_commentImage  where id=#{id}    
    </select>
 
    <select id="findObjList" parameterType="map" resultType="com.jingcheng.musicEducation.comment.entity.ProductCommentImage">
      select *
      from product_commentImage
      <where>
        <if test="productCommentId!=null">
          productCommentId=#{productCommentId}
        </if>
      </where>
      order by sort 
    </select>
    
   
    
    </mapper>